body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
    overflow: hidden;
}


button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #575757;
    cursor: pointer;
    width: 100%;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #575757;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100%;
    height: 100%;
}

#sidepanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #575757;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    flex: 1 1 auto;
}

li label {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
}

.connectionStatus {
    display: grid;
    grid-template-columns: 40px 1fr;
    position: sticky;
    width: 100%;
    color: #ffffff;
    bottom: 0;
    padding-bottom: 3px;
    background-color: #575757;
    flex: 0 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
li code {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
}

#connectionStatusText {
    font-weight: bold;
    padding: 0;
    text-align: left;
}

#connectionStatusConnectedTo,
#connectionStatusNBack,
#connectionStatusTracker {
    font-size: 12px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
}

#connectionStatusIndicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    align-self: center;
    justify-self: center;
}

#connectionStatusIndicator.disconnected {
    background-color: #ff0000;
}

#connectionStatusIndicator.connected {
    background-color: #00ff00;
}

.light-map {
    height: 95vh;
    margin-top: 20px;
    position: relative;
}
.light-map canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 930px;
    height: 930px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
}
.light-map code {
    position: absolute;
    height: 200px;
    width: 400px;
}

.light-map #timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    font-size: 200pt;
    text-align: center;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.601);
}

.element {
    border: 1px solid #000000;
}

svg {
    width: 100%;
    height: 100%;
    rotate: 180deg;
    position: absolute;
}

.selected {
    stroke: #ff0000 !important;
}

.active {
    fill: #00eeff !important;
}

.disabled {
    stroke: #97979794 !important;
}

.button-selected {
    background-color: #0084ff;
    color: #ffffff;
}

#logContainer {
    position: fixed;
    bottom: 0px;
    right: 100px;
    z-index: 2;
}

.log {
    display: flex;
    flex-direction: column-reverse;
    width: 30vw;
    min-width: 300px;
    height: max-content;
    max-height: 500px;
    background-color: #acacac80;
    overflow-y: auto;
    scrollbar-width: thin;
}

#log {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    scroll-behavior: smooth;
    height: 100%;
    padding: 10px;
    background-color: #acacac00;
}

#log li {
    padding: 5px;
    border-bottom: 1px solid #000000;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
