body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 100vh;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.light-map {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 90%;
}
.element {
    border: 1px solid #000000;
}

svg {
    width: 100%;
    height: 100%;
}

.selected {
    stroke: #ff0000 !important;
}